body {
  margin: 0;
  background: black;
}

#stage {
  width: 100vw;
  height: 100vh;
  background: #050505;
  position:relative;
  overflow: hidden;
   position: relative;
}
.dot {
  width: 10px;
  height: 10px;

  border-radius: 50%; /*turn the square into circle */
  position: absolute; /*let it place anywhere on the screen */
}
.line {
  position: absolute;
  height: 2px;
  
  transform-origin: left center;
  display: none;
}
#profile  {
position: absolute;
left: 50%;
top: 50%;
  width: 120px;
  height: 120px;
  border-radius: 50%;
  border: 2px solid white;
  opacity: 0;
  pointer-events: none;
  transition: 0.3s;
}

#message {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -110px);
  color: white;
  font-size: 16px;
  opacity: 0;
  pointer-events: none;
}
